In [ ]:
# 덧셈
num = 1852 + 2283

# 뺄셈
num2 = 1852 - 2283

# 곱셈, 나눗셈
num3 = 5*3/2

# 나눗셈, 곱셈
num4 = 3/2*5

# 거듭제곱
num5 = 11**2

# 거듭제곱, 곱셈
num6 = 5*2**2

print(num, num2, num3, num4, num5, num6)

4135 -431 7.5 7.5 121 20

In [ ]:
n = 0
n = n + 1 #변수 n에서 값을 읽은 후 계산 후에 변수 n에 결과를 저장 n = 0 + 1 = 1
n = n + 2 #변수 n에서 값을 읽은 후 계산 후에 변수 n에 결과를 저장 n = 1 + 2 = 3

print(n) # 결과값으로 3이 출력됨

3

In [ ]:
s1 = 'Learning Python'
s2 = "Learning Python"
s3 = '''Learning Python'''
s4 = """Learning Python"""

print(s1)
print(s2)
print(s3)
print(s4)

Learning Python
Learning Python
Learning Python
Learning Python

In [ ]:
# 줄 바꿈 하는 방법
s3 = '''Learning Python is easy, \nif you have daily study.'''
s4 = """Learning Python is easy,
if you have daily study."""

print(s3)
print(s4)

Learning Python is easy,
if you have daily study.
Learning Python is easy,
if you have daily study.

In [ ]:
num1 = 9
num2 = 19
num3 = num1 + num2

print(num1, num2, num3)

9 19 28

In [ ]:
# print 함수의 템플릿 2가지
print('num1 %d + num2 %d --> num3 %d' % (num1, num2, num3))

num1 9 + num2 19 --> num3 28

In [ ]:
print('num1 {} + num2 {} --> num3 {}'.format(num1, num2, num3))

num1 9 + num2 19 --> num3 28

In [ ]:
s11 = 'Learning Python '
s12 = 'is "easy".'
s13 = s11 + s12

print(s13)      #--> Learning Python is "easy".
print(len(s13)) #--> 26 (문자열의 길이 공백포함)
print(s13[0])   #--> L
print(s13[25])  #--> .

Learning Python is "easy".
26
L
.

In [ ]:
print(s13[0:8])     #--> Learning
print(s13[9:15])     #--> Python
print(s13[-1])      #--> .
print(s13[-17:-11]) #--> Python

Learning
Python
.
Python

In [ ]:
print(s13[-7:])

"easy".

In [ ]:
s18 = 'Learning Python'

##########
#  1. s18에서 n의 개수를 세시오
###########

In [ ]:
s18.count('n')

3

In [ ]:
# #########
#  2. 띄어쓰기를 기준으로 두 단어를 분리하시오.
# #########

In [ ]:
s18.split(' ')

['Learning', 'Python']

In [ ]:
# #########
#  3. Python의 index를 표시하시오.
# #########

In [ ]:
s18.index('Python')

9

In [ ]:
# #########
#  4. Python을 Data Science로 치환하시오.
# #########

In [ ]:
s18.replace('Python','Data Science')

'Learning Data Science'

In [ ]:
s19 = '   Learning Python is Easy.   '

# #########
#  1. 왼쪽 공백을 없애시오.
# #########

In [ ]:
s19.lstrip()

'Learning Python is Easy.   '

In [ ]:
# #########
#  2. 오른쪽 공백을 없애시오.
# #########

In [ ]:
s19.rstrip()

'   Learning Python is Easy.'

In [ ]:
# #########
#  3. 양쪽 공백을 없애시오.
# #########

In [ ]:
s19.strip()

'Learning Python is Easy.'

In [ ]:
###############################################################################
#
#   [1]. 아래 계산 결과를 구하고 화면에 출력하시오.
#
#   5를 제곱한 수를 7로 나눈 나머지 값은 얼마인가?
#
###############################################################################

n = 5**2%7
print(n)

4

In [ ]:
###############################################################################
#
#   [2]. 아래 계산 결과를 구하고 화면에 출력하시오.
#
#   하나의 변수를 이용하여 1부터 10까지의 자연수의 합을 구하시오.
#
###############################################################################

n = 0
n = n + 1
n = n + 2
n = n + 3
n = n + 4
n = n + 5
n = n + 6
n = n + 7
n = n + 8
n = n + 9
n = n + 10

# Describe your code

print(n)

55

In [ ]:
###############################################################################
#
#   [3]. 비교 연산의 결과인 b, b2를 화면에 출력하고 이 두 결과를 or 연산한 결과를 출력하시오.
#
#   b = 3=='3'
#   b2 = (3*2) < 7
#
###############################################################################

b = 3=='3'
b2 = (3*2) < 7

print(b)
print(b2)

print(b or b2)

False
True
True

In [ ]:
print('b : {} / b2 : {}'.format(b, b2))

b : False / b2 : True

In [ ]:
###############################################################################
#
#   [4]. 아래 문장을 파이썬 문자열 데이터로 표현하고 변수 s에 저장하는 코드를 완성하시오.
#
#   Do not be afraid to try, whether you succeed or not.
#
###############################################################################

s = 'Do not be afraid to try, whether you succeed or not.'
print(s)

Do not be afraid to try, whether you succeed or not.

In [ ]:
###############################################################################
#
#   [5]. 문자열 함수 중 split() 함수를 사용하여
#   문제 [4]에서 생성한 문자열 데이터를 쉼표를 기준으로 두 부분으로 나누는 파이썬 코드를 작성하시오.
#
#   * split() 함수는 ()안에 전달한 문자를 기준으로 문자열을 잘라서 리스트에 넣어줍니다.
#
#   Do not be afraid to try, whether you succeed or not.
#
###############################################################################
from os.path import split

s2 = s.split(",")
print(s2)

['Do not be afraid to try', ' whether you succeed or not.']

In [ ]:
s

In [ ]:
###############################################################################
#
#   [6]. 문자열 함수 중 index() 함수와 문자열 슬라이싱 방법을 이용해서
#   문제 [4]에서 생성한 문자열 데이터에서 Do not be afraid to try 부분을 읽는 파이썬 코드를 작성하시오.
#
#   * index() 함수는 ()안에 전달한 문자열 패턴의 시작 인덱스를 찾아서 반환해줍니다.
#
#   Do not be afraid to try, whether you succeed or not.
#
###############################################################################

In [ ]:
last = s.index(', ')

s[:last]

'Do not be afraid to try'