In [ ]:
a = [0, 1, 2, 3, 4, 5]

a[0]

0

In [ ]:
a[1:]

[1, 2, 3, 4, 5]

In [ ]:
a[2:3]

[2]

In [ ]:
len(a)

6

In [ ]:
even = [2*i for i in range(0,5)]
odd = [2*i+1 for i in range(0,5)]

print(even)
print(odd)

ten = even + odd
print(ten)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
ten.sort()
print(ten)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
ten.reverse()
print(ten)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
ten.pop()
print(ten)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
ten.append(9)
print(ten)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 9]

In [ ]:
ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(ten)
del ten[2:4]

print(ten)

ten[0] = 10
print(ten)

ten.append([1,2])
print(ten)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 5, 6, 7, 8, 9]
[10, 1, 4, 5, 6, 7, 8, 9]
[10, 1, 4, 5, 6, 7, 8, 9, [1, 2]]

In [ ]:
ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

max(ten)

9

In [ ]:
min(ten)

0

In [ ]:
name = ['Tom','tom', 'Jenny', 'Chris', 'chris', 'Niam', 'teron']
max(name)

'tom'

In [ ]:
min(name)

'Chris'

In [ ]:
constants = (1, 2, 4, 5, 7)
print(constants)

(1, 2, 4, 5, 7)

In [ ]:
constants[0:2]

(1, 2)

In [ ]:
# 작다 대문자 -> 크다 소문자

In [ ]:
###############
#
#   [1]. 0, 1, 2, 3, 4, 5 6개의 숫자들로 구성된 리스트를 만드시오.
#
###############

In [ ]:
a = [i for i in range(0,6)]
a

[0, 1, 2, 3, 4, 5]

In [ ]:
print(a[0:3])
len(a)

[0, 1, 2]

6

In [ ]:
###############
#
#   [2]. 10 미만의 짝수로 구성된 리스트와 10 미만의 홀수로 구성된 리스트를 만드시오.
#
###############

In [ ]:
even = [2*i for i in range(0,5)]
odd = [2*i+1 for i in range(0,5)]

print(even)
print(odd)

## 내가 자주하는 실수 곱하기 기호 생략.. 파이썬은 곱하기 기호를 읽지 못한다!

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
ten = even + odd
print(ten)

[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
ten.sort()
print(ten)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
ten.reverse()
print(ten)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
###############################################################################
#
#   [1]. 0, 1, 3, 4, 5, 6, 7, 8 8개의 숫자들로 구성된 리스트를 만드시오.
#
###############################################################################

n = [0, 1, 3, 4, 5, 6, 7, 8]
print(n)

[0, 1, 3, 4, 5, 6, 7, 8]

In [ ]:
###############################################################################
#
#   [2]. 위의 리스트 n의 세 번째 위치에 숫자 2를 삽입하는 파이썬 코드를 작성하시오.
#
###############################################################################

n.insert(2,2)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
###############################################################################
#
#   [3]. 위의 리스트 n의 가장 마지막 위치에 숫자 9를 삽입(추가)하는 파이썬 코드를 작성하시오.
#
###############################################################################

n.append(9)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
###############################################################################
#
#   [4]. 위의 리스트 n에서 숫자 5를 삭제하는 파이썬 코드를 작성하시오.
#
###############################################################################

del n[5]
print(n)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
###############################################################################
#
#   아래 코드는 위에서 생성한 리스트 n을 무작위로 섞는 코드입니다. 문제 5번과 6번을 위해 필요하니
#   그대로 남겨 두세요.
#
###############################################################################
import random

random.shuffle(n)
print('n(rearranged):', n)

n(rearranged): [7, 6, 2, 8, 3, 0, 1, 4, 9]

In [ ]:
###############################################################################
#
#   [5]. min(), max() 함수를 이용해서 위의 리스트 n에서 최대값과 최소값을 구하시오.
#
###############################################################################

minN = min(n)
maxN = max(n)

print('minN=', minN)
print('maxN=', maxN)

minN= 0
maxN= 9

In [ ]:
###############################################################################
#
#   [6]. 리스트의 sort(), reverse() 함수를 이용하여 위의 리스트 n을
#   내림차순(큰 값이 앞으로, 작은 값이 뒤로)으로 정렬하시오.
#
###############################################################################

n.sort()
n.reverse()
print(n)

[9, 8, 7, 6, 4, 3, 2, 1, 0]

In [ ]:
###############################################################################
#
#   [7]. 아래는 구구단의 2단을 리스트로 구성한 것이다. 이와 같은 방식으로 구구단의 3, 4, 5단을 리스트로 표현하시오.
#
#   numberMatrix2 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
#
###############################################################################

numberMatrix2 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
numberMatrix3 = []
numberMatrix4 = []
numberMatrix5 = []

for i in range(1,10):
    numberMatrix3.append(i*3)
    numberMatrix4.append(i*4)
    numberMatrix5.append(i*5)

print(numberMatrix2)
print(numberMatrix3)
print(numberMatrix4)
print(numberMatrix5)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[4, 8, 12, 16, 20, 24, 28, 32, 36]
[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
###############################################################################
#
#   [8]. 위에서 생성한 구구단 2~5단을 하나의 리스트로 표현하여 구구단 리스트를 만드시오.
#
###############################################################################

numberMatrix = [numberMatrix2, numberMatrix3, numberMatrix4, numberMatrix5]

print(numberMatrix)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45]]

In [ ]:
###############################################################################
#
#   [9]. 문제 [8]에서 생성한 구구단에서 4단을 화면에 출력하는 파이썬 코드를 작성하시오.
#
###############################################################################

print(numberMatrix[2])

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [ ]:
###############################################################################
#
#   [10]. 아래 정보를 파이썬 딕셔너리 형태로 표현하고, 생성한 딕셔너리를 화면에 출력하시오.
#
#   '음료': 자몽 주스, 라임 소다
#   '빵': 모닝롤, 사과 파이
#   '면': 불닭볶음면, 진라면
#
###############################################################################

products = {
  '음료': ['자몽 주스', '라임 소다'],
  '빵': ['모닝롤', '사과 파이'],
  '면': ['불닭볶음면', '진라면']
}
print(products)

{'음료': ['자몽 주스', '라임 소다'], '빵': ['모닝롤', '사과 파이'], '면': ['불닭볶음면', '진라면']}

In [ ]:
###############################################################################
#
#   [11]. 문제 [10]에서 생성한 딕셔너리에서 '빵' 카테고리에 해당하는 상품들을 화면에 출력하시오.
#
###############################################################################

print(products['빵'])

['모닝롤', '사과 파이']

In [ ]:
print(products.get('빵'))
print(products.get('음료'))

['모닝롤', '사과 파이']
['자몽 주스', '라임 소다']

In [ ]:
###############################################################################
#
#   [12]. 문제 [10]에서 생성한 딕셔너리의 '빵' 카테고리에 아래 상품을 추가하고 '빵' 카테고리의 상품들을 다시 출력하시오.
#
#   슈크림 크로와상
#
###############################################################################

products['빵'].append('슈크림 크로와상')

print(products['빵'])

['모닝롤', '사과 파이', '슈크림 크로와상']

In [ ]:
'빵' in products

True

In [ ]:
products.keys()

dict_keys(['음료', '빵', '면'])

In [ ]:
del products['빵']
products

{'음료': ['자몽 주스', '라임 소다'], '면': ['불닭볶음면', '진라면']}

In [ ]:
a = [1, 2, 3]
a2 = a

a2.append(2)

print(a)

a.pop()

print(a2)

[1, 2, 3, 2]
[1, 2, 3]