https://pythontutor.com/

# [반복문] for, while

## * for : 유한개의 원소를 반복
## * while : 조건이 참이 될 때까지 무한히 코드를 반복

In [ ]:
# 10 이하의 홀수 list 생성

oddNumbers = []
for i in range(0,5):
  n = 2*i + 1
  oddNumbers.append(n)

print(oddNumbers)

[1, 3, 5, 7, 9]

In [ ]:
for item in oddNumbers:
  print(item)

1
3
5
7
9

## range(시작, 끝, 증분)

In [ ]:
print(range(1,10,2))

range(1, 10, 2)

In [ ]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

## for 반복문 원소가 list일 수 있음

In [ ]:
nums = [[1,2], [3,4], [5,6], [7,8], [9,0]]

for pair in nums:
  print(pair)

[1, 2]
[3, 4]
[5, 6]
[7, 8]
[9, 0]

In [ ]:
for pair in nums:
  print(pair[0], pair[1])

1 2
3 4
5 6
7 8
9 0

In [ ]:
for pair in nums:
  print(pair[0], pair[1])

1 2
3 4
5 6
7 8
9 0

In [ ]:
for i, j in nums:
  print(i, j)

1 2
3 4
5 6
7 8
9 0

In [ ]:
# 아래처럼 변수를 선언할 경우 nums가 꼭 두개의 원소를 가져야함
# nums = [[1,2], [3,4], [5,6], [7,8], [9,0,1]] 이면 에러남

for (o,e) in nums:
  print(f'odd :{o} , even : {e}')

odd :1 , even : 2
odd :3 , even : 4
odd :5 , even : 6
odd :7 , even : 8
odd :9 , even : 0

## for 반복문 중첩 구조

반복문 내 반복문을 넣을 수 있음

In [ ]:
for outer in range(1,6):
  for inner in range(1,6):
    print('%2d' % (outer*inner), end=" ")

    #'2%d' 두자리수에 맞춰서 공백을 맞춰주는 용도
    # end= " " print 함수는 원래 줄바꿈을 진행하는데, 줄을 바꾸지말고 옆으로 한칸 떼라는 의미

  print('') # 줄바꿈

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [ ]:
for outer in range(1,4):
  for inner in range(1,4):
    print('%2d' % (outer * inner), end=' ')
  print('') # 내부반복문, 외부반복문을 잘 구분하기 어려우니까 내부반복문 끝나면 줄바꿈을 진행

 1  2  3
 2  4  6
 3  6  9

## 반복문 중단(break), 건너뛰기(continue)

* break : 반복문을 아예 실행하지 말고 빠져나온다
* continue : 이번 원소는 건너뛰고 반복문의 다음 원소로 넘어간다

In [ ]:
# break

for outer in range(1, 10):
  for inner in range(1, 10):
    if inner % 2 == 0:
      break # inner = 2가 되면 반복문을 빠져나오게됨
    else:
      print('%2d' % (outer * inner), end=' ')
  print('')

 1
 2
 3
 4
 5
 6
 7
 8
 9

In [ ]:
# continue

for outer in range(1, 10):
  for inner in range(1, 10):
    if inner % 2 == 0:
      continue
    else:
      print('%2d' % (outer * inner), end=' ')
  print('')

 1  3  5  7  9
 2  6 10 14 18
 3  9 15 21 27
 4 12 20 28 36
 5 15 25 35 45
 6 18 30 42 54
 7 21 35 49 63
 8 24 40 56 72
 9 27 45 63 81

In [ ]:
nums = range(1, 20, 1)

for idx, item in enumerate(nums): # enumerate : 리스트에 있는 원소와 인덱스를 반환함
  if idx%2 == 0:
    print(item, end=" ")
  else:
    continue

1 3 5 7 9 11 13 15 17 19

## List comprehension : 반복문의 결과를 리스트로 변환하는 것

[ 코드블록(명령절) for i in range(a,b) ]
* 간단한 명령절을 적는게 좋음

In [ ]:
oddNumbers = [i+1 for i in range(0,10,2)]
print(oddNumbers)

[1, 3, 5, 7, 9]

In [ ]:
evenNumbers = [i+1 for i in oddNumbers]
print(evenNumbers)

[2, 4, 6, 8, 10]

## While 반복문

조건을 충족할 때까지 무한 반복한다

In [ ]:
count = 0

while count < 9:
  print(count)
  count = count + 1

0
1
2
3
4
5
6
7
8

In [ ]:
while True:
  n = int(input('숫자를 입력하세요:'))
  if n <= 0:
    print(n)

숫자를 입력하세요:0
0

KeyboardInterrupt: Interrupted by user

## 데이터의 복사
• 얕은 복사: 서로 다른 변수들이 같은 데이터를 가리킨다.


• 깊은 복사: 서로 다른 변수들이 다른 데이터를 가리킨다.


• 특별한 경우가 아니면 깊은 복사로 데이터를 복사해야 한다.

* 깊은 복사를 사용해야 복사본을 수정해도 원본은 수정되지 않는다.

In [ ]:
a = [1, 3, 5, 7, 9]
a3 = []

for num in a:
  a3.append(num)

a3.append(11)

print(f'a: {a}')
print(f'a3: {a3}')

a: [1, 3, 5, 7, 9]
a3: [1, 3, 5, 7, 9, 11]

## [Exercise]

In [ ]:
#######################################################################################
#
#   1. 1~10의 숫자로 이루어진 리스트에서 for 반복문을 이용해서 리스트의 원소들을 출력하시오.
#
#######################################################################################

numUnderTen = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numUnderTen:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#######################################################################################
#
#   2. 1~10의 숫자로 이루어진 리스트를 range() 함수를 이용해서 생성하고,
#   생성한 리스트의 원소들을 for 반복문을 이용해서 출력하시오.
#
#######################################################################################

numUnderTen2 = [num+1 for num in range(0,10,1)]
print('numUnerTen2:',numUnderTen2)

for i in numUnderTen:
    print(i)

numUnerTen2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [ ]:
#######################################################################################
#
#   3. 1~10의 숫자로 구성된 리스트를 생성하고(문제 1, 문제 2 방법 중 어떤 방법도 좋음),
#   for 반복문과 if-else 조건문을 이용하여 리스트에서 짝수 만 출력하시오.
#
#######################################################################################

numUnderTen3 = [ num+1 for num in range(0,10,1)]

for item in numUnderTen3:
    if item%2 == 1:
        continue
    else:
        print(item)

2
4
6
8
10

In [ ]:
#######################################################################################
#
#   4. 1~9의 숫자로 구성된 리스트를 생성하고(문제 1, 문제 2 방법 중 어떤 방법도 좋음),
#   생성한 리스트와 for 반복문을 이용하여 구구단을 만들고 화면에 출력하시오
#
#######################################################################################

oneToNine = [num+1 for num in range(0,9,1)]

for num1 in oneToNine:
    for num2 in oneToNine:
        print(num1*num2, end=' ')
    print('')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
#######################################################################################
#
#   5. 1~9의 숫자로 구성된 리스트를 생성하고(문제 1, 문제 2 방법 중 어떤 방법도 좋음),
#   enumerate() 함수와 for 반복문을 이용하여 리스트의 인덱스와 값(원소)의 쌍을 화면에 출력하시오.
#
#######################################################################################

nums = [i+1 for i in range(0,9,1)]

for idx, item in enumerate(nums):
    print(f'index:{idx}, value:{item}')

index:0, value:1
index:1, value:2
index:2, value:3
index:3, value:4
index:4, value:5
index:5, value:6
index:6, value:7
index:7, value:8
index:8, value:9

In [ ]:
#######################################################################################
#
#   6. enumerate() 함수와 for 반복문을 이용하여 위 문제 5에서 생성한 리스트에서 홀수 번째 위치의
#   값(원소)들 만 화면에 출력하시오.
#
#######################################################################################

for idx, item in enumerate(nums):
    if idx%2 == 0:
        continue
    else:
        print(item)

2
4
6
8

In [ ]:
#######################################################################################
#
#   7. 1~9의 숫자로 구성된 리스트를 생성하고(문제 1, 문제 2 방법 중 어떤 방법도 좋음),
#   enumerate() 함수와 for 반복문을 이용하여 구구단의 홀수단 만 화면에 출력하는 코드를 작성하시오.
#
#######################################################################################

for outer_idx, outer_item in enumerate(nums):
  for inner_idx, inner_item in enumerate(nums):
    if outer_item%2 == 0:
      break
    else:
        print(outer_item * inner_item, end=' ')
  print('')

1 2 3 4 5 6 7 8 9

3 6 9 12 15 18 21 24 27

5 10 15 20 25 30 35 40 45

7 14 21 28 35 42 49 56 63

9 18 27 36 45 54 63 72 81

# While loop exercise

In [ ]:
#######################################################################################
#
#   1. while 반복문을 이용해서 1~9까지의 자연수를 출력하는 파이썬 코드를 작성하시오.
#
#######################################################################################

num = 1

while num <= 9:
  print(num, end=' ')

  num = num + 1

print('')

1 2 3 4 5 6 7 8 9

In [ ]:
#######################################################################################
#
#   2. 아래의 for 반복문을 while 반복문으로 옮기시오.
#
#######################################################################################

#########################################
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# for num in nums:
#     print(num, end=' ')
# print('')
#########################################

idx = 0

while idx<len(nums):
  print(nums[idx], end=' ')
  idx = idx + 1

1 2 3 4 5 6 7 8 9

In [ ]:
#######################################################################################
#
#   3. 아래 구구단을 출력하는 for 반복문을 while 반복문으로 옮기시오.
#
#######################################################################################

#########################################
nums = list(range(1, 10))

# for num1 in nums:
#     for num2 in nums:
#         print(num1*num2, end=' ')
#     print('')

#########################################

num1 = 1
num2 = 1

# 열을 생성한다
while num1 <= 9:

    # 단을 생성한다
    while num2 <= 9:
      # 단과 열을 곱합다
      # 곱한 결과를 화면에 출력한다
      print(num1 * num2, end=' ')
      num2 = num2 + 1
    print('')

    num1 = num1 + 1
    num2 = 1

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
dan = 1
while dan <= 5:
  print(dan)
  dan = dan + 1

1
2
3
4
5

In [ ]:
dan = 1
while dan <= 5:
  while yul <= 5:
    result = dan * yul
    print(result, end=' ')

    yul = yul + 1
  print('')
  yul = 1
  dan = dan + 1

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
dan = 1
yul = 1

while dan <= 5:
  while yul <= 5:
    result = dan * yul
    print(result, end=' ')
    yul = yul + 1
  print('')

  yul = 1
  dan = dan + 1

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
#######################################################################################
#
#   4. while 반복문을 이용하여 아래 기능을 수행하는 파이썬 반복문을 작성하시오.
#   · 파이썬의 input()을 이용하여 사용자로부터 키보드 입력을 받는다.
#   · 입력받은 값이 0보다 큰(>) 경우 입력값을 화면에 출력하고 다시 키보드 입력을 대기한다.
#   · 입력받은 값이 0 이하(<=)인 경우 반복을 중지하고 프로그램을 끝낸다.
#
#######################################################################################

while True:
    inputNum = int(input('숫자를 입력하세요: '))    #   사용자로부터 키보드 입력을 받습니다.

    if inputNum > 0:
      print(inputNum)
    else:
      break

숫자를 입력하세요: 2
2
숫자를 입력하세요: -1

In [ ]:
#######################################################################################
#
#   추가 스크립트. 아래 pops 리스트는 성인 20명의 키를 모아놓은 것이다.
#   그리고 이어지는 for 반복문은 이 성인 키 리스트에서 매 다섯 번째(인덱스 0, 5, 10, ...) 원소들만 샘플링하여 합을 구하고 있다.
#   이 for 반복문과 같은 결과를 출력하는 반복문을 while 반복문으로 작성하시오.
#
#######################################################################################

pops = [156.7, 174.5, 179.45, 162.73, 155.67, 174.13, 150.8, 177.45, 142.89, 184.51, 150.84, \
    183.47, 165.77, 171.0, 181.78, 153.27, 162.52, 146.87, 156.37, 143.03]

#########################################

sum = 0 # 합의 초기값은 0에서 부터 시작하여 누적

for idx, val in enumerate(pops):
    if idx%5 == 0:
        sum = sum + val
    else:
        continue

print('sum by for:', sum)

sum by for: 634.9399999999999

In [ ]:
#########################################

# 힌트: 인덱스를 수동으로 증가시키고 pops 리스트에서 인덱싱 방법을 이용해서 값을 가져오면 인덱스, 값을 모두 사용할 수 있다.

idx = 0
sum = 0

while idx < 20:
  if idx % 5 == 0:
    sum = sum + pops[idx]

  idx = idx+1

print('sum by while:', sum)

sum by while: 634.9399999999999

In [ ]:
def cal(inputlist):
  sum = 0

  for item in inputlist:
    sum = sum + item

  return sum


example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cal(example)

55

In [ ]:
def 함수이름(변수): 이름 / 입력값(인자 arguement)
  연산 바디

  return 결과 값 반환 값

# 함수이름(대입할 변수) => print하면 연산해서 결과값으로 도출됨

In [ ]:
True or False

True

In [ ]:
True and False

False